* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-image: url(../../assets/img/Header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}